
.gitattributes
.vscode/settings.json
cold-prestige.code-workspace
compile.exe
examples/cannonball_gamemode/cannon_materials.zip
examples/cannonball_gamemode/cannonball.jpg
examples/cannonball_gamemode/cannonball_gamemode.smx
examples/cannonball_gamemode/cannonball_gamemode.sp
examples/cannonball_gamemode/weapon_cannon.smx
examples/cannonball_gamemode/weapon_cannon.sp
examples/cannonball_gamemode/weapon_cannon.txt
examples/game_sounds_manifest.txt
examples/game_sounds_weapons_custom.txt
examples/weapon_bubbleblower/bubble.vmt
examples/weapon_bubbleblower/plugins/weapon_bubbleblower.smx
examples/weapon_bubbleblower/weapon_bubbleblower.sp
examples/weapon_bubbleblower/weapon_bubbleblower.txt
examples/weapon_gauss/game_sounds_weapons_custom.txt
examples/weapon_gauss/gauss_content.zip
examples/weapon_gauss/materials/models/weapons/v_gauss/back.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/back.vtf
examples/weapon_gauss/materials/models/weapons/v_gauss/capacitor.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/capacitor.vtf
examples/weapon_gauss/materials/models/weapons/v_gauss/coils.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/coils.vtf
examples/weapon_gauss/materials/models/weapons/v_gauss/details1.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/details1.vtf
examples/weapon_gauss/materials/models/weapons/v_gauss/generator.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/generator.vtf
examples/weapon_gauss/materials/models/weapons/v_gauss/glowchrome.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/glowchrome.vtf
examples/weapon_gauss/materials/models/weapons/v_gauss/hand.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/hand.vtf
examples/weapon_gauss/materials/models/weapons/v_gauss/spindle.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/spindle.vtf
examples/weapon_gauss/materials/models/weapons/v_gauss/supportarm.vmt
examples/weapon_gauss/materials/models/weapons/v_gauss/supportarm.vtf
examples/weapon_gauss/models/weapons/v_gauss_suit.dx80.vtx
examples/weapon_gauss/models/weapons/v_gauss_suit.dx90.vtx
examples/weapon_gauss/models/weapons/v_gauss_suit.mdl
examples/weapon_gauss/models/weapons/v_gauss_suit.sw.vtx
examples/weapon_gauss/models/weapons/v_gauss_suit.vvd
examples/weapon_gauss/models/weapons/w_gauss_suit.dx80.vtx
examples/weapon_gauss/models/weapons/w_gauss_suit.dx90.vtx
examples/weapon_gauss/models/weapons/w_gauss_suit.mdl
examples/weapon_gauss/models/weapons/w_gauss_suit.phy
examples/weapon_gauss/models/weapons/w_gauss_suit.sw.vtx
examples/weapon_gauss/models/weapons/w_gauss_suit.vvd
examples/weapon_gauss/plugins/weapon_gauss.smx
examples/weapon_gauss/weapon_gauss.sp
examples/weapon_gauss/weapon_gauss.txt
examples/weapon_hands/weapon_hands.txt
examples/weapon_molotov/molotov_materials.zip
examples/weapon_molotov/weapon_molotov.txt
examples/weapon_oicw/oicw_materials.zip
examples/weapon_oicw/weapon_oicw.txt
examples/weapon_paintgun/materials/decals/paint/paint_black.vmt
examples/weapon_paintgun/materials/decals/paint/paint_black_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_black_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_blue.vmt
examples/weapon_paintgun/materials/decals/paint/paint_blue_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_blue_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_brown.vmt
examples/weapon_paintgun/materials/decals/paint/paint_brown_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_brown_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_cyan.vmt
examples/weapon_paintgun/materials/decals/paint/paint_cyan_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_cyan_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_darkgreen.vmt
examples/weapon_paintgun/materials/decals/paint/paint_darkgreen_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_darkgreen_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_decal.vtf
examples/weapon_paintgun/materials/decals/paint/paint_green.vmt
examples/weapon_paintgun/materials/decals/paint/paint_green_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_green_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_lightblue.vmt
examples/weapon_paintgun/materials/decals/paint/paint_lightblue_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_lightblue_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_lightpink.vmt
examples/weapon_paintgun/materials/decals/paint/paint_lightpink_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_lightpink_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_orange.vmt
examples/weapon_paintgun/materials/decals/paint/paint_orange_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_orange_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_pink.vmt
examples/weapon_paintgun/materials/decals/paint/paint_pink_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_pink_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_purple.vmt
examples/weapon_paintgun/materials/decals/paint/paint_purple_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_purple_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_red.vmt
examples/weapon_paintgun/materials/decals/paint/paint_red_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_red_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_white.vmt
examples/weapon_paintgun/materials/decals/paint/paint_white_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_white_med.vmt
examples/weapon_paintgun/materials/decals/paint/paint_yellow.vmt
examples/weapon_paintgun/materials/decals/paint/paint_yellow_large.vmt
examples/weapon_paintgun/materials/decals/paint/paint_yellow_med.vmt
examples/weapon_paintgun/weapon_paintgun.txt
examples/weapon_shovel/shovel_content.zip
examples/weapon_shovel/weapon_shovel.smx
examples/weapon_shovel/weapon_shovel.sp
examples/weapon_shovel/weapon_shovel.txt
hl2mp_hud_target_id.cpp
include/admin.inc
include/adminmenu.inc
include/adt.inc
include/adt_array.inc
include/adt_stack.inc
include/adt_trie.inc
include/banning.inc
include/basecomm.inc
include/bitbuffer.inc
include/bluelib.inc
include/bluerp.inc
include/bluerp/bluerp-adoors.inc
include/bluerp/bluerp-dynamicnpcs.inc
include/bluerp/bluerp-events.inc
include/bluerp/bluerp-furniture.inc
include/bluerp/bluerp-gangs.inc
include/bluerp/bluerp-legacyjobspack.inc
include/bluerp/bluerp-testing.inc
include/bluerp/BluRP.inc
include/bluerp/classes/BChest.inc
include/bluerp/classes/BClient.inc
include/bluerp/classes/BDoor.inc
include/bluerp/classes/BEntity.inc
include/bluerp/classes/BItem.inc
include/bluerp/classes/BNpc.inc
include/bluerp/classes/BPlant.inc
include/bluerp/classes/BPrinter.inc
include/bluerp/cold-donation.inc
include/cannounce/countryshow.sp
include/cannounce/geolist.sp
include/cannounce/joinmsg.sp
include/cannounce/joinmsg/allow.sp
include/cannounce/joinmsg/disallow.sp
include/cannounce/joinmsg/set.sp
include/cannounce/joinmsg/sound.sp
include/cannounce/suppress.sp
include/clientprefs.inc
include/clients.inc
include/cold_minigames.inc
include/colors.inc
include/colors_csgo.inc
include/commandfilters.inc
include/commandline.inc
include/console.inc
include/convars.inc
include/core.inc
include/cstrike.inc
include/datapack.inc
include/dbi.inc
include/dhooks.inc
include/dod.inc
include/dynamic-example.inc
include/dynamic.inc
include/dynamic/methodmaps/basic.inc
include/dynamic/methodmaps/collection.inc
include/dynamic/methodmaps/dynamic.inc
include/dynamic/methodmaps/dynamicoffset.inc
include/dynamic/natives.inc
include/elo.inc
include/entity.inc
include/entity_prop_stocks.inc
include/entlimit.inc
include/events.inc
include/files.inc
include/float.inc
include/functions.inc
include/funvotes/votealltalk.sp
include/funvotes/voteburn.sp
include/funvotes/voteff.sp
include/funvotes/votegravity.sp
include/funvotes/voteslay.sp
include/gametype.inc
include/gay.inc
include/gay/arrays.inc
include/gay/clients.inc
include/gay/colors.inc
include/gay/concommands.inc
include/gay/convars.inc
include/gay/crypt.inc
include/gay/debug.inc
include/gay/dynarrays.inc
include/gay/edicts.inc
include/gay/effects.inc
include/gay/entities.inc
include/gay/files.inc
include/gay/game.inc
include/gay/general.inc
include/gay/math.inc
include/gay/server.inc
include/gay/sql.inc
include/gay/strings.inc
include/gay/teams.inc
include/gay/vehicles.inc
include/gay/weapons.inc
include/gay/world.inc
include/geoip.inc
include/geoipcity.inc
include/halflife.inc
include/handles.inc
include/helpers.inc
include/hextags.inc
include/jetpack.inc
include/keyvalues.inc
include/lang.inc
include/logging.inc
include/mapchooser.inc
include/menus.inc
include/nextmap.inc
include/particle.inc
include/profiler.inc
include/protobuf.inc
include/regex.inc
include/ripext/http.inc
include/roleplay/colors.inc
include/roleplay/rp_doors.inc
include/roleplay/rp_hl2dm.inc
include/roleplay/rp_hud.inc
include/roleplay/rp_include.inc
include/roleplay/rp_items.inc
include/roleplay/rp_jail.inc
include/roleplay/rp_logger.inc
include/roleplay/rp_main.inc
include/roleplay/rp_placeholder.inc
include/roleplay/rp_wrapper.inc
include/rp_doors.inc
include/rp_stocks.inc
include/sdkhooks.inc
include/sdktools.inc
include/sdktools_client.inc
include/sdktools_engine.inc
include/sdktools_entinput.inc
include/sdktools_entoutput.inc
include/sdktools_functions.inc
include/sdktools_gamerules.inc
include/sdktools_hooks.inc
include/sdktools_sound.inc
include/sdktools_stocks.inc
include/sdktools_stringtables.inc
include/sdktools_tempents.inc
include/sdktools_tempents_stocks.inc
include/sdktools_trace.inc
include/sdktools_variant_t.inc
include/sdktools_voice.inc
include/smjansson.inc
include/smlib.inc
include/smlib/arrays.inc
include/smlib/clients.inc
include/smlib/colors.inc
include/smlib/concommands.inc
include/smlib/convars.inc
include/smlib/crypt.inc
include/smlib/debug.inc
include/smlib/dynarrays.inc
include/smlib/edicts.inc
include/smlib/effects.inc
include/smlib/entities.inc
include/smlib/files.inc
include/smlib/game.inc
include/smlib/general.inc
include/smlib/math.inc
include/smlib/menus.inc
include/smlib/server.inc
include/smlib/sql.inc
include/smlib/strings.inc
include/smlib/teams.inc
include/smlib/vehicles.inc
include/smlib/weapons.inc
include/smlib/world.inc
include/socket.inc
include/sorting.inc
include/sourcemod.inc
include/SteamWorks.inc
include/string.inc
include/system2.inc
include/system2/legacy.inc
include/system2/request.inc
include/testing.inc
include/textparse.inc
include/tf2.inc
include/tf2_flag.inc
include/tf2_stocks.inc
include/timers.inc
include/topmenus.inc
include/topmessage.inc
include/usermessages.inc
include/vector.inc
include/version.inc
include/version.tpl
include/version_auto.inc
include/vphysics.inc
include/Zcolors.inc
plugins/cannounce.smx
plugins/cold_prestige.smx
plugins/customguns.smx
plugins/sm_stringtable_dumper.smx
spcomp.exe
include/customguns.inc
include/customguns/activity_list.inc
include/customguns/addons_scope.inc
include/customguns/const.inc
include/customguns/drawingtools.inc
include/customguns/globals.inc
include/customguns/helpers.inc
include/customguns/hooks.inc
include/customguns/menu.inc
include/customguns/stocks.inc
include/customguns/styles.inc
include/customguns/throwable.inc
include/morecolors.inc
include/multicolors.inc
include/multicolors/colors.inc
include/multicolors/morecolors.inc
customguns.sp
*.smx
compile.dat
memory-fuckery.sp
pushmira.sp
sourcemod.2.hl2dm.so
sourcemod.2.hl2dm.so.i64
include/kento_csgocolors.inc
include/MemoryEx.inc
include/kento_rankme/cmds.inc
include/kento_rankme/cvars.inc
include/kento_rankme/natives.inc
include/kento_rankme/rankme.inc
include/MemoryEx/ASM_Instruction.inc
include/MemoryEx/BaseMemory.inc
include/MemoryEx/BinaryFile.inc
include/MemoryEx/CallConvention.inc
include/MemoryEx/DbgFunctions.inc
include/MemoryEx/DynamicLibrary.inc
include/MemoryEx/GameDataEx.inc
include/MemoryEx/Ldasm.inc
include/MemoryEx/LinuxFunction.inc
include/MemoryEx/LinuxFunctionNew.inc
include/MemoryEx/MemoryAlloc.inc
include/MemoryEx/MemSearcher.inc
include/MemoryEx/PatternGenerator.inc
include/MemoryEx/ServerLibrary.inc
include/MemoryEx/Stocks.inc
include/MemoryEx/WindowsFunction.inc
ClientPressedKeyDetour.sp
cold_menuselect.sp
